@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;0,900;1,300;1,400;1,500;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background-image: linear-gradient(254.41deg, rgba(248, 218, 227, 0.5) 24.02%, rgba(185, 235, 226, 0.59) 82.29%);
}

/* NavBar */
.title {
    width: 220px;
    margin-top: 26px;
    margin-left: 63px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(92.88deg, #FC3F6D 18.82%, rgba(141, 77, 131, 0.94) 74.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btn-sosmed {
    margin-top: 26px;
}

.btn-sosmed a.github {
    width: 147px;
    margin-right: 38px;
    padding: 10px 30px;
    background: #000000;
    border-radius: 15px;
    text-align: center;
    line-height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-sosmed a.github:active {
    background: #fff;
    color: #000;
}

.btn-sosmed a.instagram {
    width: 147px;
    margin-right: 63px;
    padding: 10px 15px;
    background: #E43962;
    border-radius: 15px;
    text-align: center;
    line-height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-sosmed a.instagram:active {
    background: #fff;
    color: #000;
}

/* Hero */
.hero-image img {
    margin-top: 20px;
    width: 700px;
}

.head-desc {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.body-desc {
    margin-top: -10px;
    font-weight: 500;
    font-size: 16px;
}

.footer-desc {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/* Card */
.card {
    margin: 20px 10px 10px;
    width: 191px;
    height: 142px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.card p {
    margin-top: 15px;
    color: #000;
    font-weight: normal;
}

.card span {
    margin-top: -15px;
    font-size: 12px;
    font-style: italic;
}

.card .btn-card {
    margin-top: 30px;
    padding: 5px 5px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.card .btn-card:active {
    background: #fff;
    color: #000;
}

.card .btn-card1 {
    background: #FF5353;
}

.card .btn-card2 {
    background: #FFB053;
}

.card .btn-card3 {
    background: #4BCD58;
}

.card .btn-card4 {
    background: #53C1FF;
}

.card .btn-card5 {
    background: #535AFF;
}

.card .btn-card6 {
    background: #FF53CF;
}

@media (max-width: 500px) {
    .hero-image img {
        width: 300px;
    }
}