@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;0,900;1,300;1,400;1,500;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

/* Header */
.header {
    background: linear-gradient(180deg, #d0ece9, #fff);
}

.title {
    padding: 10px 0px;
    font-size: 25px;
    font-weight: bold;
}

.desc {
    padding: 10px 0px;
    font-size: 17px;
}

/* NavBar */
.navbar {
    background: linear-gradient(0deg, #FBECF1, #fff);
    margin-top: 10px;
}

.navbar-nav .nav-item {
    margin: 0 50px;
}

.navbar-nav .nav-item a {
    color: #000;
}

/* Input */
.input {
    margin: 100px 0;
}

.iterasi,
.xr1,
.xr {
    display: inline-block;
    padding: 10px 390px;
    border-radius: 10px;
    border: 2px solid #858a8a;
}

.submit {
    padding: 10px 50px;
    margin: 20px 50px;
    background: rgb(123, 208, 123);
    color: #fff;
    border: 1px solid rgb(123, 208, 123);
    border-radius: 20px;
}

.submit:active {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
}

.reset {
    padding: 10px 70px;
    margin: 20px 50px;
    background: #fff;
    color: rgb(123, 208, 123);
    border: 1px solid rgb(123, 208, 123);
    border-radius: 20px;
}

.reset:active {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
}

/* result */
.container-data h3 {
    font-size: 18px;
}

.container-data h4 {
    margin-top: 20px;
    height: 33px;
    line-height: 33px;
    border: 1px solid coral;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
}

.container-data p {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
}

.container-iterasi {
    display: inline-block;
    background: rgb(123, 208, 123);
    margin: 0 0px 10px 0px;
    width: 90px;
    height: 40px;
    padding-top: 9px;
    color: #fff;
    border-radius: 5px;
}

.container-xr {
    display: inline-block;
    background: rgb(123, 208, 123);
    margin: 0 0px 10px 0px;
    width: 90px;
    height: 40px;
    padding-top: 9px;
    color: #fff;
    border-radius: 5px;
}

.container-er {
    display: inline-block;
    background: rgb(123, 208, 123);
    margin: 0 0px 10px 0px;
    width: 90px;
    height: 40px;
    padding-top: 9px;
    color: #fff;
    border-radius: 5px;
}

/* Download */
.download {
    margin-top: 100px;
    width: 100px;
}

.download a {
    margin-top: 50px;
}

.download-excel {
    padding: 10px 250px;
    color: #fff;
    background-color: coral;
    text-decoration: none;
    border: 2px solid coral;
}

.download-excel:hover {
    color: #fff;
    background-color: coral;
    border: 2px solid coral;
}

.download-excel:active {
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
}

.download-code {
    padding: 10px 218px;
    color: coral;
    text-decoration: none;
    border: 2px solid coral;
}

.download-code:hover {
    color: coral;
    border: 2px solid coral;
}

.download-code:active {
    color: #000;
    background-color: #fff;
    border: 2px solid #fff;
}

/* Footer */
.footer {
    margin-top: 100px;
    padding: 20px;
    background: linear-gradient(45deg, #d0ece9, #FBECF1);
    font-style: italic;
}

/* Button Scroll */
.scroll {
    position: fixed;
    bottom: 100px;
    right: 100px;
    padding: 10px;
    background: coral;
    color: #fff;
    border: 1px solid coral;
    border-radius: 10px
}